
<div ng-controller="DashboardController">

  <div class="row">
    <div class="col-md-3 col-md-offset-9">
      <a href="#/newPoll">Create a New Poll</a>
      <a class="logout" href= "#/">Logout</a>
    </div>
  </div>


  <h2>Current Polls:</h2>
  <div class="row">

    <div class="col-md-3 col-md-offset-9">
      <form role="form">
        <input type="text" placeholder="Search" ng-model="search"/>
      </form>
    </div>

  </div>

  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Survey Question</th>
      <th>Date Posted</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr ng-repeat="poll in allPolls | filter: search">
        <td ng-bind="poll.name"></td>
        <td>
          <a href="#/takePoll/{{poll._id}}" ng-bind="poll.question"></a>
        </td>
        <td ng-bind="poll.createdAt"></td>
        <td >
          <button class="btn btn-danger" ng-show="poll.owned" ng-click="deletepoll(poll._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>

  </table>

</div>
